In [1]:
import pandas as pd
import json

In [2]:
data = 'nsmc_raw_data.csv'

In [3]:
df = pd.read_csv(data)

In [4]:
df.head()

,Unnamed: 0,kor_review,eng_review,ratings
0,0,전체관람가는 아닌것 같아요,NaN,10
1,1,디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다,NaN,10
2,2,태어나 처음으로 가슴아리는 영화였다. 20년이상 지났지만.. 생각하면 또 가슴이...,NaN,10
3,3,어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...,NaN,10
4,4,토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...,NaN,10

In [5]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:
df

                                               kor_review  eng_review  ratings
0                                          전체관람가는 아닌것 같아요         NaN       10
1                            디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다         NaN       10
2       태어나 처음으로 가슴아리는 영화였다.  20년이상 지났지만.. 생각하면  또 가슴이...         NaN       10
3       어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...         NaN       10
4       토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...         NaN       10
...                                                   ...         ...      ...
712378                                        해맑은 젖통이ㅇ얌ㅇㅇ         NaN       10
712379                        이분들은 우리나라를 대표하는 크리에이터,,,...         NaN       10
712380  내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...         NaN       10
712381  세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...         NaN        7
712382  눈물이 많이 났습니다. 멕시코 어머니 마지막에 미용실 차린것도 감동적이었습니다. 비...         NaN       10

[712383 rows x 3 columns]

In [7]:
df.isnull().sum()

kor_review         0
eng_review    712383
ratings            0
dtype: int64

In [74]:
df2 = df['kor_review']

In [75]:
df2

0                                            전체관람가는 아닌것 같아요
1                              디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다
2         태어나 처음으로 가슴아리는 영화였다.  20년이상 지났지만.. 생각하면  또 가슴이...
3         어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...
4         토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...
                                ...
712378                                          해맑은 젖통이ㅇ얌ㅇㅇ
712379                          이분들은 우리나라를 대표하는 크리에이터,,,...
712380    내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...
712381    세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...
712382    눈물이 많이 났습니다. 멕시코 어머니 마지막에 미용실 차린것도 감동적이었습니다. 비...
Name: kor_review, Length: 712383, dtype: object

In [53]:
df.drop(df2[df2.isnull()].index, inplace=True)

In [76]:
df.isnull().sum()

kor_review         0
eng_review    712383
ratings            0
dtype: int64

In [59]:
df.to_csv(data)

In [69]:
df

0                                            전체관람가는 아닌것 같아요
1                              디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다
2         태어나 처음으로 가슴아리는 영화였다.  20년이상 지났지만.. 생각하면  또 가슴이...
3         어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...
4         토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...
                                ...
150000                                         최고의 감독 봉준호!!
150001                                       이야.... 디테일하다 !
150002                             소박한듯 개성있고 잔잔한들 너울거리는 영화.
150003                            봉준호식 유머러스를 가장 잘 보여주는 작품 .
150004            아파트 단지라는 지협을, 사회로 만들어버리는, 내 사랑 너의 사랑 봉테일.
Name: kor_review, Length: 150000, dtype: object

In [77]:
df

                                               kor_review  eng_review  ratings
0                                          전체관람가는 아닌것 같아요         NaN       10
1                            디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다         NaN       10
2       태어나 처음으로 가슴아리는 영화였다.  20년이상 지났지만.. 생각하면  또 가슴이...         NaN       10
3       어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...         NaN       10
4       토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...         NaN       10
...                                                   ...         ...      ...
712378                                        해맑은 젖통이ㅇ얌ㅇㅇ         NaN       10
712379                        이분들은 우리나라를 대표하는 크리에이터,,,...         NaN       10
712380  내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...         NaN       10
712381  세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...         NaN        7
712382  눈물이 많이 났습니다. 멕시코 어머니 마지막에 미용실 차린것도 감동적이었습니다. 비...         NaN       10

[712383 rows x 3 columns]

In [10]:
df2 = df.loc(axis=1)['kor_review', 'ratings']

In [11]:
df2

                                               kor_review  ratings
0                                          전체관람가는 아닌것 같아요       10
1                            디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다       10
2       태어나 처음으로 가슴아리는 영화였다.  20년이상 지났지만.. 생각하면  또 가슴이...       10
3       어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...       10
4       토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...       10
...                                                   ...      ...
712378                                        해맑은 젖통이ㅇ얌ㅇㅇ       10
712379                        이분들은 우리나라를 대표하는 크리에이터,,,...       10
712380  내 평생 로리 캐릭터가 이렇게 들러 붙는 애니는 처음이다. 결론: 초코, 바닐라, ...       10
712381  세상의 모든 엄마는 어디에 있든 아이가 어떻든 삶이 어떻든 똑같이 강하고 조건 없이...        7
712382  눈물이 많이 났습니다. 멕시코 어머니 마지막에 미용실 차린것도 감동적이었습니다. 비...       10

[712383 rows x 2 columns]

In [35]:
df2.to_excel('nsmc_raw_excel.xlsx', header=False, encoding='utf8', engine='xlsxwriter')

KeyboardInterrupt:

In [12]:
df_list = [df2[:150000], 
           df2[150000:300000], 
           df2[300000:450000], 
           df2[450000:600000], 
           df2[600000:-1]]

In [13]:
for i, df in enumerate(df_list):
    df.to_excel('nsmc_raw_excel_'+str(i)+'.xlsx', header=False, encoding='utf8', engine='xlsxwriter')

In [66]:
df

0                                            전체관람가는 아닌것 같아요
1                              디렉터스컷으로봐서 거의 3시간짜리인데 참 흡인력있다
2         태어나 처음으로 가슴아리는 영화였다.  20년이상 지났지만.. 생각하면  또 가슴이...
3         어린시절 고딩때 봤던 때랑 또 결혼하고 나서 봤을때의 느낌은 확실히 다르네요. 뭔가...
4         토토에게 넓은 세상을 보여주고픈 알프레도.. 그가 토토를 위해 정을 떼려고 했던 장...
                                ...
150000                                         최고의 감독 봉준호!!
150001                                       이야.... 디테일하다 !
150002                             소박한듯 개성있고 잔잔한들 너울거리는 영화.
150003                            봉준호식 유머러스를 가장 잘 보여주는 작품 .
150004            아파트 단지라는 지협을, 사회로 만들어버리는, 내 사랑 너의 사랑 봉테일.
Name: kor_review, Length: 150000, dtype: object